*.class
/serverSocket/nbproject/private/
/serverSocket/node_modules/
/serverSocket/ConfigSKT.ini
/serverSocket/runNode
/serverSocket/clearFiles.sh
/serverSocket/runNode.sh
/serverSocket/serverStatus.sh
/serverSocket/stopAir.sh
