// Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// Rules for using icons as black on a light background.
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using icons as white on a dark background.
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

#div-login-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: #d2d6de;
}

.login-box-body, .register-box-body, .register-box > form  {
  box-shadow: 5px 5px 5px black;
}

.height400 {
  height: 400px;
}

.height500 {
  height: 500px;
}

.height600 {
  height: 600px;
}

#imgsensor {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  background-image: url('./../img/wifi60_60.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
  display: none;
  z-index: 2000;
  position: relative;
}

.navbar {
  margin-bottom: 0;
}

.bg-status-user {
  background-color: #d2d6de;
  width: 100%;
}

///////////////////
//FORM
///////////////////

.rounded-corners {
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  -khtml-border-radius: 40px;
  border-radius: 40px;
}
.rounded-corners-top {
  -moz-border-top-radius: 40px;
  -webkit-border-radius: 40px;
  -khtml-border-radius: 40px;
  border-radius: 40px;
}
.right {
  float: right;
}
.scrolldown { padding-left:20px; color:#EDECE8; font-size:40px; font-weight:bold; vertical-align:middle;
              text-shadow: #6374AB 2px 2px 2px;
}
.contentblock { margin: 0px 20px; }
.results { border: 1px solid blue; padding:20px; margin-top:20px; min-height:50px; }
.blue-bold { font-size:18px; font-weight:bold; color:blue; }

/* example styles for validation form demo */
#register-form {
  background: url("../img/form-fieldset.gif") repeat-x scroll left bottom #F8FDEF;
  border: 1px solid #DFDCDC;
  border-radius: 15px 15px 15px 15px;
  display: inline-block;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-top: 10px;
  padding-top:10px;
  width: 350px;
  display: block;
}

#register-form .fieldgroup {
  background: url("../img/form-divider.gif") repeat-x scroll left top transparent;
  display: inline-block;
  padding: 8px 10px;
  width: 340px;
}

#register-form .fieldgroup label {
  float: left;
  padding: 15px 0 0;
  text-align: right;
  width: 110px;
}

#register-form .fieldgroup input, #register-form .fieldgroup textarea, #register-form .fieldgroup select {
  float: right;
  margin: 10px 0;
  height: 25px;
}

#register-form .submit {
  padding: 10px;
  width: 220px;
  height: 40px !important;
}

#register-form .fieldgroup label.error {
  color: #FB3A3A;
  display: inline-block;
  margin: 4px 0 5px 125px;
  padding: 0;
  text-align: left;
  width: 220px;
}

.my-modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
}

.my-modal:before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;   
  background-color: black;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;   
}

.my-modal > div {
  left: 20%;
  top: 20%;
  width: 60%;
  background-color: transparent;
}

.my-model-hide {
  display: none;
}

#div-login-page {    
  background: -webkit-linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%); /* W3C */
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
} 
.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}
.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.need-help {
  margin-top: 10px;
}
.new-account {
  display: block;
  margin-top: 10px;
}

#checkLogin {
  position: absolute;
  left: 0px;
  top:0px;
  bottom: 0;
  z-index: 1030;
  width: 100%;
  background: rgba(0, 0, 0, 0.40)
}

input.error{
  border:1px solid #FF0000 !important; 
}

label.error,div.error{
  font-weight:normal;
  color:#FF0000 !important;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

/* centered columns styles */
.row-centered {
  text-align:center;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

#tblDetailsDevice > tbody > tr > td {
  /*  height:100%;
    width:100%;*/

  text-align: center;  /* align the inline(-block) elements horizontally */
  /*font: 0/0 a;          remove the gap between inline(-block) elements */
}

#tblDetailsDevice > tbody > tr > td:before {    /* create a full-height inline block pseudo=element */
  /*display: inline-block;*/
  vertical-align: middle;    /* vertical alignment of the inline element */
  /*height: 100%;*/
}

.css3gradient{
  height: 15px;
  background-color:#00ff00;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#00ff00, endColorstr=#ff0000);
  background-image:-moz-linear-gradient(left, #00ff00 0%, #ff0000 100%);
  background-image:-webkit-linear-gradient(left, #00ff00 0%, #ff0000 100%);
  background-image:-ms-linear-gradient(left, #00ff00 0%, #ff0000 100%);
  background-image:linear-gradient(left, #00ff00 0%, #ff0000 100%);
  background-image:-o-linear-gradient(left, #00ff00 0%, #ff0000 100%);
  background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,#00ff00), color-stop(100%,#ff0000));
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.bottom5 { margin-bottom: 5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom30 { margin-bottom:30px; }

.with100 {
  width: 100%;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  font-size: 1em;
  text-wrap: none;
}
#tablelistSitesAndSensores table, #tablelistSitesAndSensores th, #tablelistSitesAndSensores td {
  border: solid black 1px !important;
}

.center-vertical {
  vertical-align: middle !important;
  text-align: center !important;
}

.canvasjs-chart-tooltip{
  z-index: 100 !important;
}

/* style loading network */

#loadingBar {
  position:absolute;
  top:0px;
  left:0px;
  width: 902px;
  height: 902px;
  background-color:rgba(200,200,200,0.8);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity:1;
}
#wrapper {
  position:relative;
  width:900px;
  height:900px;
}

#text {
  position:absolute;
  top:8px;
  left:530px;
  width:30px;
  height:50px;
  margin:auto auto auto auto;
  font-size:22px;
  color: #000000;
}


div.outerBorder {
  position:relative;
  top:400px;
  width:600px;
  height:44px;
  margin:auto auto auto auto;
  border:8px solid rgba(0,0,0,0.1);
  background: rgb(252,252,252); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
  border-radius:72px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

#border {
  position:absolute;
  top:10px;
  left:10px;
  width:500px;
  height:23px;
  margin:auto auto auto auto;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  border-radius:10px;
}

#bar {
  position:absolute;
  top:0px;
  left:0px;
  width:20px;
  height:20px;
  margin:auto auto auto auto;
  border-radius:11px;
  border:2px solid rgba(30,30,30,0.05);
  background: rgb(0, 173, 246); /* Old browsers */
  box-shadow: 2px 0px 4px rgba(0,0,0,0.4);
}

.login-logo img {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter:         drop-shadow(5px 5px 5px #222); 
}

.support .ipt {
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  -webkit-filter: drop-shadow(2px 2px 2px #0e0e0e);
}

.support img {
    opacity: 0.6;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.support img:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}​

hr.soften {
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
  width: 80%;
}